@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 04.11.2015

    placeholder

    site

    logo

    header__menu

    swiper-promo

    advantages

    press-center

    swiper-container

    customer

    textpage

    breadcrumbs

    content-wrap

    textpage__complex

    searcher
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #7d7c7c;
    font-style: italic;
}
:-moz-placeholder {
    color: #7d7c7c;
    font-style: italic;
}
.placeholder {
    color: #7d7c7c;
    font-style: italic;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
.site:before {
    content: '';
    background: url('../img/bg-customer.jpg') repeat-x bottom center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 401px;
    z-index: 1;
    opacity: .5;
}
.site_main:before {
    opacity: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 188px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    background-color: #f1f1f1;
    z-index: 3;
}
.site__header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: url("../img/bg-header.jpg") no-repeat 50% 0 #393838;
}
.site__header-layout{
    position: relative;
    width: 960px;
    height: 78px;
    margin: 0 auto;
    padding-top: 11px;
    padding-left: 204px;
}
.site__header-layout > span{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.1px;
}
.site__header-callback{
    position: absolute;
    top: 6px;
    right: 0;
}
.site__header-callback a{
    display: block;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
}
.site__header-callback span{
    display: inline-block;
    border-bottom: 1px dotted #fff;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.site__header-callback span:hover{
    border-bottom-color: transparent;
}
.site__header-language{
    position: absolute;
    right: -3px;
    bottom: 0;
    height: 33px;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 12px;
    color: #4e4e4e;
    text-transform: uppercase;
    letter-spacing: -.4px;
    background: #b9b9b9;
    background: -moz-linear-gradient(left,  #b9b9b9 0%, #dadada 6%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b9b9b9), color-stop(6%,#dadada), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(left,  #b9b9b9 0%,#dadada 6%,#f1f1f1 100%);
    background: -o-linear-gradient(left,  #b9b9b9 0%,#dadada 6%,#f1f1f1 100%);
    background: -ms-linear-gradient(left,  #b9b9b9 0%,#dadada 6%,#f1f1f1 100%);
    background: linear-gradient(to right,  #b9b9b9 0%,#dadada 6%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b9b9', endColorstr='#f1f1f1',GradientType=1 );
}
.site__header-language a{
    position: relative;
    top: 2px;
    display: inline-block;
    padding: 2px;
    color: #4e4e4e;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.site__header-language a:hover{
    border-bottom-color: #4e4e4e;
}
.site__header-language .active{
    background-color: #feffff;
    border-bottom: none;
    cursor: default;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 188px;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(43,42,41,.8);
}
.site__footer:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #000;
}
.site__footer-layout {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 18px;
    padding-left: 1px;
    color: #fff;
    z-index: 2;
}
.site__footer-layout a{
    color: #fff;
}
.site__footer-layout address{
    font-style: normal;
}
.site__footer-layout address a{
    cursor: default;
}
.site__footer-copyright{
    float: left;
    width: 295px;
    margin-right: 30px;
    margin-bottom: 17px;
}
.site__footer-name{
    display: block;
    margin-bottom: 2px;
    font-size: 18px;
}
.site__footer-phone{
    width: 201px;
    padding-top: 4px;
    text-align: right;
}
.site__footer-phone a{
    font-weight: 700;
    color: #fff;
    cursor: default;
}
.site__footer-phone span{
    display: block;
}
.site__footer-email a{
    display: inline-block;
    border-bottom: 1px solid #fff;
    line-height: 13px;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.site__footer-email a:hover{
    border-bottom-color: transparent;
}
.site__footer-menu{
    margin-bottom: 27px;
    overflow: hidden;
}
.site__footer-menu a{
    display: inline-block;
    margin: 0 11px;
    line-height: 12px;
    border-bottom: 1px solid #fff;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.site__footer-menu a:hover{
    border-bottom-color: transparent;
}
.site__footer-social{
    padding-left: 11px;
    overflow: hidden;
}
.site__footer-social a{
    display: inline-block;
    height: 24px;
    width: 25px;
    margin-right: 10px;
    background: url("../img/icons-social.png") no-repeat 0 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.site__footer-social a+a{
    width: 62px;
    background-position: -38px 0;
}
.site__footer-social a:hover{
    opacity: .7;
}
.site__footer-developer{
    height: 20px;
    font-size: 12px;
    color: #9d9e9e;
    text-align: right;
    clear: both;
}
.site__footer-developer a{
    display: inline-block;
    line-height: 12px;
    color: #9d9e9e;
    border-bottom: 1px solid #9d9e9e;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.site__footer-developer a:hover{
    border-bottom-color: transparent;
}
.site__aside{
    width: 175px;
    float: left;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: -11px;
}
/* --------------- /logo --------------- */

/* -------- header__menu -------------- */
.header__menu{
    position: absolute;
    left: 193px;
    bottom: 0;
    font-size: 16px;
}
.header__menu a{
    position: relative;
    float: left;
    height: 33px;
    padding: 6px 15px 0;
    border-left: 1px solid #fff;
    color: #4e4e4e;
    z-index: 2;
}
.header__menu a.active:before,
.header__menu a:before{
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom:2px solid #f3bb00;
    background-color: #ffea80;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -webkit-box-shadow:0 5px 11px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 5px 11px -10px rgba(0, 0, 0, 0.5);
    box-shadow:0 5px 11px -10px rgba(0, 0, 0, 0.5);
}
.header__menu a:hover:before{
    opacity: 1;
}
.header__menu a.active{
    color: #fff;
    cursor: default;
}
.header__menu a.active:before{
    background-color: #767475;
    opacity: 1;
}
.header__menu a:first-child{
    border-left: 0;
}
.header__menu span{
    position: relative;
    z-index: 2;
}
/* -------- /header__menu -------------- */

/* --------------- swiper-promo --------------- */
.swiper-promo{
    position: relative;
    overflow: hidden;
}
.swiper-promo__layout{
    width: 960px;
    height: 279px;
    margin: 0 auto;
    padding-left: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 103px;
    font-size: 30px;
}
.swiper-promo__layout h1{
    width: 330px;
    letter-spacing: 1.7px;
}
.swiper-promo__pagination{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -17px;
    text-align: center;
    z-index: 9;
}
.swiper-promo__pagination span{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 11px;
    border-radius: 50px;
    background-color: #f4f4f4;
    transition: opacity .3s ease, background-color .3s ease;
    -webkit-transition: opacity .3s ease, background-color .3s ease;
    opacity: 1;
}
.swiper-promo__pagination span:hover{
    background-color: #ffed00;
    opacity: .7;
}
span.swiper-pagination-bullet-active{
    background-color: #ffed00;
}
span.swiper-pagination-bullet-active:hover{
    opacity: 1;
    cursor: default;
}
/* --------------- /swiper-promo --------------- */

/* --------------- advantages --------------- */
.advantages{
    text-align: center;
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 18px;
}
.advantages h2{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}
.advantages__wrap{
    position: relative;
    width:960px;
    margin:0 auto;
}
.advantages__wrap img{
    min-height: 50px;
}
.advantages__wrap li{
    color: #000;
    margin-top: 20px;
    padding: 15px 10px 10px 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    min-height: 132px;
    transition: background-color .6s ease;
}
.advantages__drop{
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 960px;
    background: #fff;
    margin-left: 0;
    z-index: 2;
    transition: opacity .6s ease;
}
.advantages__drop li{
    width: 30%;
    margin-top: 10px;
}
.advantages__wrap li span{
    display: block;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: -8px;
    padding-bottom: 15px;
    line-height: 15px;
}
.advantages__drop li span:first-child{
    position: relative;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f8c200;
    font-size: 25px;
    margin-bottom: 17px;
    line-height: 34px;
}
.advantages__drop li span:last-child{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
.advantages__wrap li:last-child{
    line-height: 16px;
}
.advantages__icon{
    height: 70px;
}
.advantages__wrap li:hover {
    background-color: #fff;
}
.advantages__wrap li:hover .advantages__drop{
    opacity: 1;
    visibility: visible;
}
/* --------------- /advantages --------------- */

/* -------------- press-center --------------- */
.press-center{
    position: relative;
    width:960px;
    margin:0 auto;
    text-align: center;
    margin-top: 3px;
    padding-bottom: 53px;
    font-size: 14px;
    color:#fff;
}
.press-center h2{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}
.press-center time{
    color: #000;
    padding: 8px 21px;
    line-height: 29px;
    background-color: #ffd100;
    margin-bottom: 20px;
    font-size: 12px;
}
/* -------------- /press-center --------------- */

/* -------------- swiper-container --------------- */
.swiper-container{
   position: relative;
   width: 960px;
   margin: 10px auto;
}
.swiper__content{
    opacity: 1;
    text-align: left;
    width: 480px;
    height: 191px;
    float:left;
    color:#fff;
    transition: opacity .5s ease;
    background-size:cover;
}
.swiper__content:hover{
    opacity: 0.8;
    cursor: pointer;
}
.swiper__content span{
    display: block;
    margin:17px 0 20px 20px;
    text-decoration: underline;
    font-weight: 600;
}
.swiper__content h3{
    margin:20px 0 13px 20px;
}
.swiper__content p{
    margin-left: 20px;
    line-height: 21px;
}
.swiper-slide{
    background-size: contain;
}
/* -------------- /press-center --------------- */

/* --------------- customer --------------- */
.customer{
    padding-bottom: 44px;
}
.customer__wrap{
    width: 903px;
    margin: 0 auto;
    padding-top: 21px;
    text-align: center;
    overflow: hidden;
}
.customer__wrap h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -.5px;
    color: #000;
}
.swiper-customer{
    margin: 0 auto;
}
.swiper-customer .swiper-slide{
    width: 196px;
    height: 111px;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    transition: filter .3s ease;
    -webkit-transition: filter .3s ease;
}
.swiper-customer .swiper-slide-prev{
    position: relative;
    left: 35px;
}
.swiper-customer .swiper-slide-next{
    position: relative;
    left: -35px;
}
.swiper-customer .swiper-slide-active{
    -webkit-filter: blur(0);
    filter: blur(0);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
/* --------------- /customer --------------- */

/* --------------- textpage --------------- */
.textpage{
    width: 960px;
    margin: 0 auto;
    margin-top: 43px;
}
.textpage__textblock{
    width: 753px;
    overflow: hidden;
    padding-top: 3px;
    margin-left: 210px;
}
/* --------------- /textpage --------------- */

/* --------------- breadcrumbs --------------- */
.breadcrumbs{
    margin: 6px 0;
    margin-bottom: 26px;
    position: relative;
}
.breadcrumbs a{
    position: relative;
    margin-top: 3px;
    font-size: 12px;
    color: #4e4e4e;
    text-decoration: underline;
    margin-right: 14px;
}
.breadcrumbs a:first-child:after{
    content: '>';
    position: absolute;
    top: 4px;
    right: -12px;
    color: #4e4e4e;
}
.breadcrumbs a:hover{
    color: #f3bb00;
}
/* --------------- /breadcrumbs --------------- */

/* --------------- content-wrap --------------- */
.content-wrap{
    color:#000;
    letter-spacing: -0.2px;
    line-height: 17px;
    font-size: 13px;
}
.content-wrap h1{
    font-size: 24px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 19px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.content-wrap h2{
    font-size: 16px;
    margin-bottom: 11px;
}
.content-wrap h3{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 26px;
}
.content-wrap strong{
    line-height: 19px;
    margin-top: 12px;
}
.content-wrap ol{
    list-style-type: decimal;
    margin-left: 29px;
    margin-bottom: 16px;
}
.content-wrap ol>li{
    line-height: 19px;
    width: 270px;
}
.content-wrap ol ul{
    margin-left: 11px;
    margin-top: 4px;
    margin-bottom: -4px;
}
.content-wrap ul>li:before{
    content: '- ';
    position: absolute;
    left: -9px;
}
.content-wrap p{
    margin-bottom: 5px;
    margin-top: 10px;
    line-height: 18px;
}
.content-wrap ul{
    width: 709px;
    margin-left: 26px;
    margin-bottom: 14px;
}
.content-wrap ul>li{
    line-height: 19px;
    position: relative;
}
.content-wrap a{
    color: #9f7a00;
}
.content-wrap a:hover{
    text-decoration: underline;
}
.content-wrap table{
    margin: 10px 0 20px;
    margin-bottom: 33px;
    width: 754px;
}
.content-wrap table th,
.content-wrap table td{
    width: 181px;
    vertical-align: middle;
    padding: 4px 12px;
    font-weight: normal;
}
.content-wrap table tr:last-child{
    border-bottom: 1px solid #605447;
}
.content-wrap table tr:first-child{
    border-top: 1px solid #605447;
    background-color: #f3bb00;
    font-weight: bold;
}
.content-wrap table tr:first-child th, .content-wrap table tr:first-child td{
    font-weight: bold;
}
.content-wrap table tr{
    background-color: transparent;
    border-bottom: 1px solid #e3e3e3;
}
.content-wrap table td:first-child{
    width: 261px;
}
.content-wrap table th:first-child{
    width: 261px;
}
.content-wrap table td{
    line-height: 15px;
    font-size: 12px;
}
.content-wrap table th{
    line-height: 15px;
    font-size: 12px;
}
.content-wrap table tr:last-child{
    border-bottom: 1px solid #605447;
}
.content-wrap table{
    font-family: 'PT Sans', sans-serif;
}
.content-wrap img{
    float: right;
    margin-bottom: 31px;
    padding-left: 20px;
    margin-top: 6px;
}
/* --------------- /content-wrap --------------- */

/* --------------- textpage__complex --------------- */
.textpage__complex{
    position: relative;
}
.textpage__complex li:hover,
.textpage__complex .active{
    display: block;
    background-color: #f3bb00;
    text-decoration: none;
    -webkit-transition: 1s ease-out 0.5s;
    transition: .4s ease-out;
}
.textpage__complex li:first-child a:hover{
    color: #000;
}
.textpage__complex li{
    display: block;
    height: 54px;
    background-color: #f6f6f6;
    text-decoration: underline;
}
.textpage__complex a{
    font-size: 13px;
    display: block;
    color: #000;
    padding-left: 12px;
    padding-top: 11px;
}
/* --------------- /textpage__complex --------------- */

/* --------------- searcher --------------- */
.searcher{
    position: relative;
    display: inline-block;
    width: 346px;
    margin-bottom: 27px;
}
.searcher__text{
    width: 346px;
    height: 30px;
    padding: 0 35px 0 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background-color: #bdbdbd;
    font: 14px "Open Sans", sans-serif;
}
.searcher__button{
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 35px;
    border: none;
    background: url("../img/icons-search.png") no-repeat center;
    text-indent: -999px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.searcher__button:hover{
    opacity: .7;
}
/* --------------- /searcher --------------- */